body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-family: system-ui !important;
  font-size: large;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filters {
  display: flex;
  justify-content: space-evenly;
}

.ui.cards {
  justify-content: center;
  flex-wrap: wrap;
}

.placeholder {
  opacity: .8 !important;
}

.field {
  max-width: inherit !important;
}

.header-img {
  width: 100vw;
  height: 30vh;
  overflow: hidden !important;
  bottom: 50%;
}

.header-recipe {
  margin: 10px;
  text-align: center;
  font-size: 50px;
}

.img-recipe {
  margin-bottom: 5px;
}
.font{
  font-family: system-ui;
  font-size: large;
}
.error {
  color: rgb(216, 8, 8);
  font-style: italic;
  font-family: sans-serif;
  font-size: smaller;
}
.home{
  background-color: black;
  height: 80vh;
  padding-top: 90px;
  background: url(../src/bg.jpg) bottom/cover no-repeat;
}
.homee{
  color: rgb(0 0 0);
  font-size: 126px;
  text-align: center;
  margin-bottom: 150px;
  text-shadow: 5px 10px 10px white;
}